:root {
  --color_bg: ;
  --gradient: linear-gradient(to right, #a994e6, #7f78ee);
  --grey: #f0f0f0;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: #e0e5eb;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.mobile {
  display: grid;
  grid-template-rows: 48px 1fr 62px;
  width: 350px;
  height: 700px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.3);
}

.mobile__header,
.mobile__footer {
  align-self: center;
  justify-self: center;
}
.mobile__content {
  background-color: #fff;
}

.rooms {
  display: grid;
  display: none;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  grid-gap: 14px;
}

.room {
  display: grid;
  grid-auto-rows: 130px 30px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  background: var(--grey);
  border-radius: 12px;
}

.room i {
  align-self: center;
  font-size: 5em;
  opacity: 0.7;
}

.room.selected {
  background: var(--gradient);
  color: white;
}

.room.selected i {
  opacity: 1;
}

.rooms {
  display: grid;
  display: none;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  align-items: center;
  grid-gap: 14px;
}

/* Настройки комнаты */
.settings {
  padding: 0 20px;
}
.settings__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 94px;
  grid-gap: 14px;
}
.settings__type {
  display: grid;
  grid-auto-rows: 2fr 1fr;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  background: var(--grey);
  border-radius: 12px;
}

.settings__type i {
  align-self: center;
  font-size: 3em;
  opacity: 0.7;
}

.settings__type.selected {
  background: var(--gradient);
  color: white;
}

.settings__type.selected i {
  opacity: 1;
}

.settings__screen-title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  text-align: center;
}
/* Слайдер температуры */
.temperature-btn {
  width: 240px;
  margin: 0 auto;
}
.dots-box {
}
.dots {
  fill: transparent;
  stroke: var(--grey);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dasharray: 0 21;
}

.line {
  fill: transparent;
  stroke: var(--grey);
  stroke-width: 1px;
  stroke-dasharray: 276 276;
  transform: rotate(48deg);
  transform-origin: center;
}
.line-active {
  fill: transparent;
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 274 276;
  transform: rotate(48deg);
  transform-origin: center;
}

.round {
  fill: transparent;
  stroke: var(--grey);
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-dasharray: 0 276;
  transform: rotate(48deg);
  transform-origin: center;
}
/* UI - components */
.selectbox {
  cursor: pointer;
  width: 143px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
}

.selectbox__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
}
.ic_arrow {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.7em;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}
.selectbox__list {
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -12px;
  right: -12px;
  background-color: #fff;
  border-radius: 3px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.selectbox.open .ic_arrow {
  transform: rotate(180deg);
}
.selectbox.open .selectbox__list {
  top: 120%;
  max-height: 200px;
}

.selectbox__item {
  cursor: pointer;
  transition: color 0.2s linear;
}

.selectbox__item.selected,
.selectbox__item:hover {
  color: #7f78ee;
  font-weight: 500;
}

.selectbox__item:not(:last-child) {
  margin-bottom: 4px;
}
